.wherePage {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  text-align: center;
}

.map {
  width: 80vw;
}